
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<link href="~/Content/cssPropio.css" rel="stylesheet" />
<link href="~/Content/datatables.css" rel="stylesheet" />
<link href="~/Content/jquery-ui.min.css" rel="stylesheet" />