
@{
    ViewBag.Title = "Index";
}


<script>

</script>

<h2>Index</h2>

<label>Ingrese Nro 1 :</label>
<input type="text" id="txtnro1" placeholder="Ingrese un numero" />
<br />
<br />
<label>Ingrese Nro 2 :</label>
<input type="text" id="txtnro2" placeholder="Ingrese un numero" />
<br />
<br />
<input type="button" value="SUMAR" id="btnSumar" />
<input type="button" value="Limpiar" id="btnLimpiar" />
<br />
<br />
<label id="lblRespuesta"></label>

<script src="~/Scripts/sumar.js"></script>