
@{
    ViewBag.Title = "Tabla";
}

<h2>Tabla</h2>

<table class="table table-bordered table-striped table-responsive">
    <thead>
        <tr>
            <td>Nombre</td>
            <td>Apellido Paterno</td>
            <td>Apellido Materno</td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Juan</td>
            <td>Perez</td>
            <td>Polo</td>
        </tr>
        <tr>
            <td>Jose</td>
            <td>Gonzales</td>
            <td>Rojas</td>
        </tr>
        <tr>
            <td>Daniela</td>
            <td>Fernandez</td>
            <td>Carmona</td>
        </tr>
    </tbody>
</table>